<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>

    <!-- style -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <h1>EMAIL RANDOM</h1>
        <ul v-if="emails.length === 10">
            <li v-for="email in emails">{{ email }}</li>
        </ul>
        <div v-else>Caricamento...</div>

    </div>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- javascript -->
    <script src="js/script.js"></script>
</body>

</html>